profiles {
    // Test profile configuration for local execution
    test {
        process {
            // Specifies that the executor for this profile is 'local', meaning the processes
            // will run on the local machine.
            executor = 'local'
            // Allocates 2 CPUs for each process.
            cpus = 2
            // Allocates 2 GB of memory for each process.
            memory = '2 GB'
        }
        singularity {
            // Enables the use of Singularity containers.
            enabled = true
            // Automatically mounts common directories into the container.
            autoMounts = true
            // Adds an option to the Singularity run command to create a writable temporary filesystem.
            runOptions = '--writable-tmpfs'
        }
    }

    // SLURM profile configuration for execution on a SLURM-managed HPC cluster
    slurm {
        process {
            // Specifies that the executor for this profile is 'slurm', meaning the processes
            // will be managed by the SLURM workload manager.
            executor = 'slurm'
            // Specifies the SLURM queue to be used. Replace 'your_queue_name' with the actual queue name.
            queue = 'igblast'
            // Allocates 4 CPUs for each process.
            cpus = 4
            // Allocates 8 GB of memory for each process.
            memory = '8 GB'
        }
        singularity {
            // Enables the use of Singularity containers.
            enabled = true
            // Automatically mounts common directories into the container.
            autoMounts = true
            // Adds an option to the Singularity run command to create a writable temporary filesystem.
            runOptions = '--writable-tmpfs'
        }
    }
}
